@import "../../mixins.scss";

.section {
  @include section(calc(100vh - 150px));
}

.profile {
  @include section-block(15px);
  box-sizing: border-box;
  height: 600px;
  max-width: 600px;
  width: 100%;
  padding: 15px;
  a {
    color: black;
  }
  &__block {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
  }
  &__img {
    width: 50%;
  }
  &__userinfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &:last-child {
      margin-bottom: 15px;
    }
  }
}
