@import "../../../mixins.scss";

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 410px;
  width: 410px;
  background-color: var(--content-background-color);
  @include section-block(15px);

  &__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 24px;
  }

  &__field {
    @include field(4px);
    height: 25px;
    width: 225px;
    position: relative;
  }

  &__age {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    label {
      height: 25px;
      padding-left: 5px;
      cursor: pointer;
    }
  }

  &__label {
    display: flex;
    align-items: center;
    cursor: pointer;
    span {
      display: flex;
    }
  }

  &__block {
    width: 350px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }

  &__subblock {
    width: 350px;
    padding-bottom: 20px;
    display: flex;
  }

  &__subfield {
    @include field(2px);
    height: 25px;
    width: 60px;
    margin-left: 5px;
  }

  &__sublabel {
    box-sizing: border-box;
    width: 100px;
    display: flex;
    align-items: center;
    cursor: pointer;
    span {
      height: 25px;
    }
    input {
      margin-bottom: 2px;
      margin-left: 5px;
    }
  }

  &__error {
    font-size: 14px;
    color: var(--error-color);
    position: absolute;
    transform: translate(125px, 25px);
  }

  &__required {
    color: var(--error-color);
    font-size: 10px;
  }

  &__btn {
    display: flex;
    justify-content: center;
    width: 270px;
    height: 25px;
    margin-top: 20px;
    button {
      @include form-button(120px, 3px);
    }
  }
}

.field__error {
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  font-size: 15px;
  padding-left: 4px;
  border: 1px solid var(--error-color);
  height: 25px;
  width: 225px;
}

.response__error {
  transform: translateY(139px);
  @include response(26px, 350px, var(--error-color), var(--error-background-color));
}
.response__success {
  transform: translateY(139px);
  @include response(26px, 350px, var(--success-color), var(--success-background-color));
}
