.footer{
    display: flex;
    justify-content: center;
    height: 40px;
    background-color: var(--header-background-color);
    color: var(--second-text-color);
}

.text{
    display: flex;
    align-items: center;
}